bin/Debug/
bin/Release/*
!bin/Release/MassCableRemover.dll
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Local MSBuild paths (copy from Directory.Build.props.example)
Directory.Build.props
